/* -------------- GENERAL ------------- */
:root {
  --main-color1: #f5f5f5;
  --main-color2: #d3d3d3;
  --dark: #111111;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
h4 {
  font-size: 25px;
  margin-bottom: 25px;
}
/* ------ Gestion light/dark mode ------ */
.mode-dark {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: var(--dark);
  border: 1px solid white;
  border-radius: 50%;
  padding: 4px 8px;
}
.mode-light {
  position: absolute;
  top: 15px;
  right: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid var(--dark);
  border-radius: 50%;
  padding: 4px 8px;
}
.dark {
  background-color: var(--dark);
  color: white;
}
.light {
  background-color: whitesmoke;
  color: var(--dark);
}
/* ----------------------------------- */
/* -------------- HEADER ------------- */
/* ----------------------------------- */
header > div {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
h1:hover {
  color: var(--main-color2);
}
/* ----------------------------------- */
/* --------------- MAIN -------------- */
/* ----------------------------------- */
main > div {
  background-color: var(--main-color2);
  color: var(--dark);
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  position: sticky;
  top: 0px;
  background-color: var(--main-color2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid var(--dark);
}
nav a {
  font-size: 24px;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: gray;
}
nav a:hover {
  background-color: var(--dark);
  color: white;
}

main > div > img {
  width: 1200px;
  height: 300px;
  object-fit: cover;
}

section {
  padding: 40px 0;
}

/* -------- Section description --------- */

#description > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#description img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(213, 140, 3);
}
#description > div:last-of-type {
  padding: 50px 50px 0 50px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.details p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 8px;
}
.details a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.details > div:first-of-type {
  width: calc(100% - 400px);
}
.details > div:last-of-type {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 0px #000000;
}
.details > div:last-of-type > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.details i {
  font-size: 30px;
}
.details span {
  margin-left: 30px;
}
/* -------- Section formation --------- */

#formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: white;
}
#formation > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#formation img {
  width: 120px;
  padding: 12px;
}
#formation .mongo {
  width: 210px;
}

#formation > div > div {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

#formation a {
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
}
#formation a:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 5px 0px #000000;
  border: 1px solid lightgray;
}
/* -------- Section Projets --------- */
#project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project > div {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  overflow: scroll hidden;
  gap: 25px;
}
#project p {
  padding-top: 25px;
  padding-bottom: 8px;
  text-decoration: underline;
  cursor: pointer;
}

#project img {
  height: 300px;
  cursor: pointer;
}
#project img:hover {
  opacity: 0.8;
}

/* -------- Section Influence -------- */
#influence {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#influence > div {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 80px;
  justify-content: center;
}
#influence a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--dark);
  box-shadow: 5px 5px 5px 0px #000000;
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
}
#influence a:hover {
  background-color: lightgray;
}
#influence a > p:first-of-type {
  font-size: 18px;
  font-weight: bold;
}
#influence img {
  border-radius: 50%;
  width: 120px;
}

/* ------ Section Recrutez-moi ------- */

/* ----------------------------------- */
/* -------------- FOOTER ------------- */
/* ----------------------------------- */
footer {
  padding: 30px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
